.Bar {
  text-align: center;
  margin: 150px 0 0 0;
}

.Bar h2 {
  font-size: 40px;
  /* font-weight: 700; */
  margin: 0 0 50px 0;
}

.product__wrapper {
  /* background-color: aquamarine; */
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 40px;
}

.product__wrapper :hover {
  transition: ease-in 0.2s;
  box-shadow: 1px 1px 7px gray;
}

.product :hover {
  box-shadow: none;
}

.product {
  text-align: center;
  width: 300px;
  height: 500px;
  /* background-color: aliceblue; */
  cursor: pointer;
}

.product h2 {
  font-weight: 700;
  font-size: 14px;
  margin: 0 0 20px 0;
}

.product p {
  font-size: 19px;
}
.product :nth-child(3) {
  margin: 0 0 20px 0;
}

.img__wrapper {
  /* background-color: aqua; */
  margin: 0 0 30px 0;
}

.img__wrapper img {
  width: 100%;
  max-height: 0%;
}
